# Temporary files
.DS_Store
~*
*~

# XCode
*.cproject
*.prefs
*.project
.settings/

# C++
*Dict.hpp
*Dict.h
*Dict.cxx
*Dict.cpp

/Default/
# Build folders
*.a
*.d
*.o
*.so
*build/
*install/
bin/
build.cfg
lib/

# Data files
*.log
*.png
*.root
Physics/particles.xml
Physics/physConstants.xml

# CMake
*Config.cmake
*ConfigVersion.cmake

# Python
*.env
*.pydevproject
*__pycache__
*egg-info/
*ipynb_checkpoints/
*venv/
.pytest_cache/
dist

# Visual Studio Code
*.code-workspace
.vscode/
