.DS_Store
*.root
*.so
*.o
*.d
~*
bin/
lib/
external
*.project
*.cproject
*.prefs
.settings/
test/.settings/
Physics/particles.xml
Physics/physConstants.xml
doc/doxygen/
*Dict.hpp
*Dict.h
*Dict.cxx
*Dict.cpp
build.cfg
/Default/
build
dist
*egg-info
install
*.env
*.vscode
*.pydevproject
*__pycache__
.pytest_cache
python-venv/
*.png
*.log
*Config.cmake
*ConfigVersion.cmake
*ipynb_checkpoints
.vscode/
*.code-workspace